extend ../layout
block content
  .cardSearchPanel
    p
      Card Search
    form(method='POST' action='/')
      div.form-group
        label(for='name') Name:
        input#search_field.form-control(type='text', placeholder='Enter card name' name='search_field')
        input#search_button(type='submit')  
        div#results
  .decklistPanel
    div.deckName
    div.deckContents
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script.
    $('form').on('submit',makeRequest);
      function makeRequest(e){
        e.preventDefault();
        $.ajax({
          url:'/cards/search',
          type : 'POST',
          data: $('form').serialize(),
          success: function(data){
            // -- Clear all cards
            $('#results').empty();
            
            cardsData = JSON.parse(data);
            if(cardsData.cards){
              for(var i = 0; i < cardsData.cards.length; i++){
                $('#results').append('<img src="https://art.hearthstonejson.com/v1/render/latest/enUS/256x/'+cardsData.cards[i].id+'.png" />'); 
              }
            } else {
              $('#results').html('Sorry, an error occured');
            }
          },
          error: function(){
            $('#results').html('Sorry, an error occurred');
          }
        });
    }
  div#decklist
    
