extend ../layout
block content
  p
    Card Search
  form(method='POST' action='/')
    div.form-group
      label(for='name') Name:
      input#search_field.form-control(type='text', placeholder='Enter card name' name='search_field')
      input#search_button(type='submit')  
  p#results
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script.
    $('form').on('submit',makeRequest);
      function makeRequest(e){
        e.preventDefault();
        $.ajax({
          url:'/cards/search',
          type : 'POST',
          data: $('form').serialize(),
          success: function(data){
            if(data.message){
              $('#results').html(data.message);
            } else {
              $('#results').html('Sorry, an error occured');
            }
          },
          error: function(){
            $('#results').html('Sorry, an error occurred');
          }
        });
    }
